
        <div class="modal fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-med">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Create Account</h2>
              </div>

              <div class="modal-body form-align"> 
                <%= bootstrap_form_for :seller, url: {:controller=> 'sellers', :action => "create"} do |f| %>
                    
                    <%= f.text_field :first_name, label: "First Name" %>

                   
                    <%= f.text_field :last_name, label: "Last Name" %>

                 
                    <%= f.text_field :phone, label: "Phone" %>

                  
                    <%= f.text_field :email, size: "50px", label: "Email" %><br><br>

    
                    <%= f.text_field :username, size: "30px", label: "User Name:" %>

                    
                    <%= f.password_field :password, size: "30px", label: "Password" %>
                   
                    <%= f.submit %>
                  <% end %>
                </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div> <!-- end modal content div -->
          </div> <!-- end modal dialog div -->
        </div> <!-- end log in modal -->

          