
          <div class="modal fade" id="editItemModal-<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-med">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Edit Item</h2>
              </div>

              <div class="modal-body form-align"> 
                <%= bootstrap_form_for item, url: item_path(item), method: :patch do |f| %>
                  
                  <%= f.text_field :price, value: number_to_currency(item.price), label: "Price", class: "form-font"%><br><br>
                  
                  
                  <%= f.text_area :item_tag, size: "35x3", label: "Item", class: "form-font" %>

                  <%= f.text_area :description, size: "35x3", label: "Description", class: "form-font" %>

                  <%= f.text_field :shipping_cost, value: number_to_currency(item.shipping_cost) ,label: "Shipping Cost", class: "form-font" %>

                  <%= f.file_field :image %>
                  <%= f.submit %>
                <% end %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div> <!-- end modal content div -->
          </div> <!-- end modal dialog div -->
       