
          <div class="modal fade" id="editItemModal-<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-med">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Edit Item</h2>
              </div>



              <div class="modal-body form-align"> 
                <%= bootstrap_form_for item, url: item_path(item), method: :patch do |f| %>
                  
                  <%= f.number_field :price, :step => 0.01,min: 0.01, max: 10.00, :required => true, value: item.price,  label: "Price", class: "form-font"%><br><br>
                  
                  
                  <%= f.text_area :item_tag, size: "35x3", :required => true,label: "Item", class: "form-font" %>

                  <%= f.text_area :description, size: "35x3", :required => true, label: "Description", class: "form-font" %>

                  <%= f.number_field :shipping_cost, :step => 0.01, min: 0, value: item.shipping_cost, :required => true, label: "Shipping Cost", class: "form-font" %>

                  <%= f.file_field :image %>
                  <%= f.submit %>
                <% end %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div> <!-- end modal content div -->
          </div> <!-- end modal dialog div -->
       