
<!-- if the user is a seller display these menu options -->
<% if logged_in? %>
	
	<nav class="menu">

	 <div class="navwrapper">
	  <%= link_to "Log Out", logout_path , method: 'delete', class: "btn btn-info btn-register btn-lg" %>
	  <%= link_to "Display All Seller's Items", items_path, class: "btn btn-info btn-register btn-lg" %>
	  <%= link_to "Edit Items For Sale", current_user, class: "btn btn-info btn-register btn-lg" %>

	  <button type="button" class="btn btn-info btn-register btn-lg" data-toggle="modal" data-target="#addItemModal">Add Item</button>

	  <button type="button" class="btn btn-info btn-register btn-lg" data-toggle="modal" data-target="#editAccountModal">Edit Account</button>
	 </div> <!-- end navwrapper -->
	</nav>
		
<%end %> <!-- End logged_in?  -->

<!-- if the user is a buyer and not a seller display these menu options -->
<% if !logged_in? %>
	<nav class="menu">
		<div class="navwrapper">
			<button type="button" class="btn btn-info btn-register btn-lg login" data-toggle="modal" data-target="#loginModal">Log In</button>

			<button type="button" class="btn btn-info btn-register btn-lg create-account" data-toggle="modal" data-target="#newAccountModal">Create Account</button>
			<%= link_to "Show All Items", items_path, class: "btn btn-info btn-register btn-lg all-items-btn" %>
			<%= link_to "Return to Store", root_path, class: "btn btn-info btn-register btn-lg my-store" %>
			<% if current_order.order_status_id === 1 %> 
				<%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal} )", cart_path, class: "btn btn-info btn-register btn-lg cart-btn" %>
				<% end %>
		</div>
	
	</nav>
		<!-- br used to move ten dollar bill image down into place -->	  
		<br>		
<% end %>







