
<div class="bill"></div>
  
<!-- loging fields (boxed) on buyers screen -->

<!-- <button type="button" class="btn btn-info btn-register btn-lg login" data-toggle="modal" data-target="#loginModal">Log In</button>

<button type="button" class="btn btn-info btn-register btn-lg create-account" data-toggle="modal" data-target="#newAccountModal">Create Account</button> -->
      

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-med">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Log In As a Seller</h2>
              </div>

              <div class="modal-body form-align"> 
                <%= bootstrap_form_for :login, url: login_path  do |f| %>
                  <%= f.text_field :username, label: "User Name:", class: "form-font" %>
                  <%= f.password_field :password, label: "Password:", class: "form-font" %>

                  <%= f.submit 'Log In', class: "btn btn-info" %>
                <% end %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div> <!-- end modal content div -->
          </div> <!-- end modal dialog div -->
        </div> <!-- end log in modal -->
     
        <!-- get create new account form -->
        <%= render "sellers/form" %>


<!-- <div class="login">
    <%= form_for :login, url: '/login' do |f| %>

      <%= f.label :username %> 
      <%= f.text_field :username %>
      <%= f.label :password %> 
      <%= f.password_field :password %>
      <%= f.submit 'Log In' %>
    <% end %>
    
    <div class="notice">
        <% if flash[:notice] %>
            <br><div class = "flash_msg"><%= flash[:notice] %></div>
        <% end %>
    </div>

</div> -->
<h3 id="tenstore">The Ten Dollar Store </h3>
<div class="search">
      <!-- handles item searching -->
      <%= form_tag({controller: "items", action: "index"}, method: "get") do %>
         
          <%= text_field_tag(:q, nil, :size=>100) %>
          <%= submit_tag("Search", class: "btn btn-info btn-register btn-sm") %>
      <% end %><br>
      
      <h4 id="search-msg">Leave search box empty and press <b>Search</b> to display all items for sale.</h4><br>
  </div>


<% if !@buyer.nil? && @buyer.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <%= @buyer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="item-margin">
  
    



    <ul>
              <!-- slice allows three items to be dispalyed in a row -->
              <% @items.each_slice(5) do |batch| %>
                <% batch.each do |item| %>
                  <div class="batch-items" > 
                      <li>
                        <% if item.image.url != nil %>
                            <%= image_tag item.image.url, size: "100x75", class: "image-border" %><br><br>
                        <% end %> 

                        <div class="item-width item-display"><%= link_to item.item_tag, item %><div> <br>
                        <div class="price"><%= number_to_currency(item.price) %></div><br>
                        
                        
                      </li>

                  </div>  
                  
                <% end %>
                <!-- display a line between each group of three items and set width and shading of line between item groups -->
                <hr size ="8px" noshade />
              <% end %>
              </ul>
</div>