<!DOCTYPE html>
<html ng-app>
<head>
  <title>TenDollar</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->

  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application"%>

  <%= csrf_meta_tags %>
</head>
<body>



<%= render "shared/navigation" %>

  <!-- cart totals and link upper right corner of screen -->
  

  

<%= yield %>


<!-- <%= debug(params) if Rails.env.development? %> -->

<!-- add new item modal -->
<% if logged_in? %>

  

        <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-med">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Add Item</h2>
              </div>

              <div class="modal-body form-align"> 
                <%= bootstrap_form_for :item, url: {:controller=> 'items', :action => "create"}  do |f| %>
                  
                  <%= f.text_field :price, label: "Price", class: "form-font"%><br><br>
                  
                  
                  <%= f.text_area :item_tag , size: "35x3", label: "Item", class: "form-font" %>

                  <%= f.text_area :description, size: "35x3", label: "Description", class: "form-font" %>

                  <%= f.text_field :shipping_cost, label: "Shipping Cost", class: "form-font" %>

                  <%= f.file_field :image %>
                  <%= f.submit %>
                <% end %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div> <!-- end modal content div -->
          </div> <!-- end modal dialog div -->
        </div> <!-- end add item modal -->

  
        <!-- edit seller account modal -->
        <div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-med">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Edit Account</h2>
              </div>

              <div class="modal-body form-align"> 
                <%= bootstrap_form_for current_user, url: seller_path(current_user), method: :patch  do |f| %>
        
               
                  <%= f.text_field :first_name, label: "First Name", class: "form-font" %>

                  <%= f.text_field :last_name, label: "Last Name", class: "form-font" %>

                  <%= f.text_field :phone, label: "Phone Number", class: "form-font" %>

                  <%= f.text_field :email, label: "Email Address", class: "form-font" %>

                  <%= f.text_field :username, label: "User Name", class: "form-font" %>

                  <%= f.password_field :password, label: "Password", class: "form-font" %>
                  <%= f.submit %>
                <% end %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div> <!-- end modal content div -->
          </div> <!-- end modal dialog div -->
        </div> <!-- end edit Account modal div -->
<% end %> <!-- end if logged_in? -->


  
</body>
</html>
